@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .booking-bg {
    background-image: url("../public/booking/book-bg.png");
    background-position: 50%;
  }

  .whyus-bg {
    background-image: url("../public/whyus/bg.png");
    background-position: -225px 255px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .faq-bg {
    background-image: url("../public/faq/car.png");
    background-position: 0 70%;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .download-bg {
    background-image: url("../public/download/bg02.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
